<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Sprout Children's Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <style>
      fieldset {
          border: 1px solid #ccc;
          padding: 10px;
          margin: 0;
          box-shadow: 0 0 10px #ccc;
      }
      legend {
          font-size: 1.2em;
          font-weight: bold;
          padding: 0 10px;
          width: auto;
          border: none;
      }
  </style>
</head>
<body>
    <header class = "header-bg">
        <nav class="navbar navbar-expand-sm" style = "background-color: #06D6A0;">
            <div class = "container-fluid">
            <a class = "navbar-brand" href = "#">
              <img src = "images/Logo2.png" class = "d-inline-block align-text-top rounded-pill " alt = "Brand Logo" style="width:100px;">
              </a>
              <img src = "images/boy3.png" class = "d-inline-block" alt = "Boy with book" style="width:100px;">
              <div class = "collapse navbar-collapse justify-content-center" id = "navbarNav">
            <ul class = "navbar-nav">
              <li class = "nav-item"> <a href="index.html">Home</a></li>
              <li class = "nav-item"><a href="products.html">Books</a></li>
              
              <li class = "nav-item"><a href="track.html">Track Your Order</a></li>
              <li class = "nav-item"><a href="about.html">About</a></li>
              <li class = "nav-item"><a href="contact.html">Contact</a></li>
            </ul>

            <img src = "images/boy2.png" class = "d-inline-block" alt = "Boy with book" style="width:100px;">
            <!-- <button class="btn btn-primary">Subscribe</button> -->
            <!-- <a href="#" class="btn btn-outline-primary ms-auto">Login</a> -->
            <a href="#" class="ms-auto">Login</a>
        </div>
    </div>
      </nav>
  
    </header>
    <main>
      

   
    

    </main>



    <footer style="background-color: #06D6A0; color: white;">
        <div class = "row">
        <div class = "col-sm-3">
        <img src = "images/Logo2.png" class = "d-inline-block rounded-pill " alt = "Brand Logo" style="width:65px;">
        <span class = "h4">Little Sprout</span>
    </div>
    <img src = "images/girl2.png" class = "d-inline-block" alt = "Boy with book" style="width:100px;">
    <div class="col-sm-4 text-center">
        <h5>Subscribe to Our Newsletter</h5>
        <form class="d-flex justify-content-center my-3">
          <input type="email" class="form-control w-50 me-2" placeholder="Enter your email">
          <button class="btn btn-primary">Subscribe</button>
        </form>
        </div>
        <img src = "images/boy.png" class = "d-inline-block" alt = "Boy with book" style="width:100px;">
            <div class = "col-sm-3 text-end">
                <ul class = "list-unstyled d-flex justify-content-end mb-0">
                    <li class = "ms-4"> <a href = "about.html"> About Us <a> </li>
                        <li class = "ms-4"> <a href = "contact.html">Contact Us</a></li>
                </ul>
        <!-- <a href = "about.html"> About Us <a> -->
        </div>
    </div>
        <div><small>&copy; 2024 Little Sprout Children's Books. All rights reserved. </small></div>
    </footer>

    <script src="script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>